@charset "UTF-8";
h1,
h2,
p,
ul {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
}

.container {
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 320px) {
  .container {
    max-width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1444px) {
  .container {
    max-width: 1200px;
  }
}

/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
/*Подключение СТИЛЕЙ ШРИФТА*/
@font-face {
  font-family: "Caviar Dreams";
  src: url("../fonts/CaviarDreams.eot");
  src: local("☺"), url("../fonts/CaviarDreams.woff") format("woff"), url("../fonts/CaviarDreams.ttf") format("truetype"), url("../fonts/CaviarDreams.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-Regular.eot");
  src: local("☺"), url("../fonts/CeraPro-Regular.woff") format("woff"), url("../fonts/CeraPro-Regular.ttf") format("truetype"), url("../fonts/CeraPro-Regular.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}
:root {
  --main-font: "Cera Pro";
  --accent-font: "Caviar Dreams";
  --black-text-color: #2b2b2b;
  --blue-accent-color: #487996;
  --form-color: #cdcdcd;
  --icon-blue-color: #008cef;
  --white-color: #ffffff;
  --bg-footer-color: #f5f5fa;
  --bg-color-section: #e5e5e5;
  --decor-elements-shadow: rgba(0, 0, 0, 0.1);
  --cubik: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-basic: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --mobile: 320px;
  --tablet: 768px;
  --desktop: 1444px;
}

.conteiner {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .conteiner {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media screen and (min-width: 1440px) {
  .conteiner {
    padding-left: 189px;
    padding-right: 189px;
  }
}

.hero-scan {
  display: block;
  background: url(../src/images/scanning/hero-scanning-desk.jpg);
  background-repeat: no-repeat;
  background-position: 20px 450px;
  background-size: 280px 199px;
}
@media screen and (min-width: 768px) {
  .hero-scan {
    float: left;
    margin: 0 1em 1em 0;
    background-position: 520px 100px;
    background-size: 241px 172px;
  }
}
@media screen and (min-width: 1440px) {
  .hero-scan {
    background-position: 720px 10px;
    background-size: 515px 368px;
  }
}

.text {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 300;
  padding-bottom: 16px;
  line-height: 1.25px;
  color: var(--black-text-color);
}

@media screen and (min-width: 768px) {
  .scan-text.centr {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .scan-title {
    display: flex;
    padding-left: 194px;
    padding-right: 60px;
  }
}
@media screen and (min-width: 1440px) {
  .scan-title {
    padding-left: 736px;
    padding-right: 189px;
  }
}

.scan {
  padding-bottom: 24px;
}

.text {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.25px;
  color: var(--black-text-color);
}
@media screen and (min-width: 1440px) {
  .text {
    font-size: 18px;
    line-height: 1.27;
  }
}

.scan-text {
  width: 280px;
}
@media screen and (min-width: 768px) {
  .scan-text {
    width: 514px;
  }
}
@media screen and (min-width: 1440px) {
  .scan-text {
    display: flex;
    flex-wrap: wrap;
    width: 515px;
    padding-bottom: 24px;
    padding-right: 32px;
  }
}

.scan-text:not(:last-child) {
  padding-bottom: 16px;
}

/*
.scan-text-alein {
  @media screen and (min-width: 1440px) {
    display: flex;
    flex-wrap: wrap;
  }
}*/
.hero-scan .title {
  font-family: var(--main-font);
  font-style: normal;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.25px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 16px;
  color: var(--blue-accent-color);
}
@media screen and (min-width: 1440px) {
  .hero-scan .title {
    font-size: 34px;
    text-align: left;
    padding-bottom: 24px;
  }
}

.process-scan .title {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.27px;
  text-transform: uppercase;
  color: var(--blue-accent-color);
  text-align: left;
  padding-top: 24px;
  padding-bottom: 16px;
  margin-top: 200px;
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .process-scan .title {
    padding-top: 52px;
    padding-bottom: 24px;
    margin-top: 0;
  }
}
@media screen and (min-width: 1440px) {
  .process-scan .title {
    font-size: 36px;
    padding-top: 100px;
    padding-bottom: 52px;
    margin-top: 0;
  }
}

.scaninng {
  margin-left: 20px;
}

.process .title {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  color: var(--blue-accent-color);
  padding-top: 18px;
  right: 20px;
}
@media screen and (min-width: 1440px) {
  .process .title {
    font-size: 18px;
    line-height: 1.27;
  }
}

.scan-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 21px;
}

.process-scan {
  max-width: 320px;
  margin-bottom: 55px;
}
@media screen and (min-width: 768px) {
  .process-scan {
    max-width: 768px;
    margin-bottom: 52px;
  }
}
@media screen and (min-width: 1440px) {
  .process-scan {
    max-width: 1440px;
    margin-bottom: 100px;
  }
}

.process {
  width: 133px;
  height: 183px;
  margin-bottom: 15px;
  background: #ffffff;
  opacity: 0.8;
  box-shadow: inset 1px 1px 16px rgba(203, 203, 203, 0.8), inset -1px -1px 16px #ffffff;
  border-radius: 50px 0px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .process {
    width: 153px;
    height: 210px;
  }
}
@media screen and (min-width: 1440px) {
  .process {
    width: 250px;
    height: 298px;
  }
}

.process {
  padding-left: 21px;
}
@media screen and (min-width: 1440px) {
  .process {
    padding-top: 44px;
    text-align: center;
  }
}

.img-scanning {
  width: 94px;
  height: 82px;
  padding-top: 14px;
}
@media screen and (min-width: 768px) {
  .img-scanning {
    width: 108px;
    height: 95px;
  }
}
@media screen and (min-width: 1440px) {
  .img-scanning {
    width: 177px;
    height: 154px;
  }
}

.process-card {
  display: block;
  text-align: center;
  padding-right: 50px;
  margin-top: -200px;
}
@media screen and (min-width: 768px) {
  .process-card {
    margin-top: 0;
  }
}
@media screen and (min-width: 1440px) {
  .process-card {
    justify-content: center;
  }
}

.hero__img-scanning {
  width: 280px;
  height: 199px;
}
@media screen and (min-width: 768px) {
  .hero__img-scanning {
    position: fixed;
    right: 8px;
    top: 140px;
    width: 241px;
    height: 172px;
  }
}
@media screen and (min-width: 1440px) {
  .hero__img-scanning {
    width: 515px;
    height: 368px;
  }
}

.button-scan {
  display: block;
  margin-left: auto;
  margin-right: auto;
}/*# sourceMappingURL=style.css.map */