.social-icons-item {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  
  .social-icons-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--dark-bg-text-color);
  }
  
  .social-icons-item .icon {
    width: 20px;
    height: 20px;
    fill: var(--icon-color);
  }
  
  .social-icons-link:hover .icon,
  .social-icons-link:focus .icon {
    fill: var(--accent-color);
  }
  
  .social-icons-item + .social-icons-item {
    margin-left: 10px;
  }
  
  .social-icons-item {
    margin-bottom: 30px;
  }
  .social-icons-link-join {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .social-icons-link-join:hover .icon,
  .social-icons-link-join:focus .icon {
    fill: var(--accent-color);
    -webkit-transition: var(--animation);
    transition: var(--animation);
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .icon-mail {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 00.03em;
  }
  
  
  
  .icon-mail {
    right: 20px;
    width: 47px;
    height: 20px;
    fill: var(--dark-bg-text-color);
  }
  