:root {
    --main-text-color: #757575;
    --dark-bg-text-color: #ffffff;
    --accent-color: #2196f3;
    --title-color: #212121;
    --dark-bg-color: #2f303a;
    --light-bg-color: #f5f4fa;
    --icon-color: #afb1b8;
    --dark: #000000;
    --grid-item: 1;
    --animation: 250ms ;
  }