.desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: block;
    margin-bottom: 94px;

    @media screen and (min-width:480px) {
    
      display: block;
      text-align: center;
      margin-left: auto;
      margin-right: auto;

    }
     
     @media screen and (min-width:768px) {
       
      }
  
  
  @media screen and (min-width:1200px) {
    display: flex  ;
    flex-basis: auto;
   
  
}

}



  .desc .item:not(:last-child) {

    @media screen and (min-width:1200px){
      margin-right: 30px;
      
    }

  
  }
  

  .grup-desk {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
   
    
    

    @media screen  and ( min-width: 480px){
     flex-wrap: wrap;
    
 
    }
    @media screen  and ( min-width: 768px){
      flex-wrap: wrap;
      margin-left: 30px;
  
     }

     @media screen  and ( min-width: 1200px){
      
      margin-left: -40px;
  
     }
  
  }

  
